.htmlClock{
	width:100%;
	height:100%;
	position:relative;
}
.htmlClock-view{
	width:300px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	border-left:#333 solid 1px;
	border-right:#333 solid 1px;
	z-index:1;
}
.htmlClock-visor{
	background:rgba(255,255,255,0.1);
	border-top:#FFF solid 1px;
	border-bottom:#FFF solid 1px;
	height:300px;
	width:100%;
	position:absolute;
	top:45%;
	left:0;
	z-index:2;
	box-shadow:#000 0 0 50px;
}
.htmlClock-numBlock{
	display:block;
	font-size:130px;
	line-height:160%;
	text-align:center;
	color:#FFF;
	height:200px;
	width:100%;
	overflow:hidden;
	font-family:"Courier New", Courier, monospace;
	text-shadow:#000 -1px -2px;
}
.htmlClock-stripe{
	position:absolute;
	width: 100%;
}